h5 {
  background-color: gray;
  color: white;
}
.siteName {
  height: 200px;
  background-color: grey;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}
.title {
  padding: 50px;
  color: white;
}


  .dataTable {
    margin: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
  }
form {
  margin: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: gray;
}
